$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 100%;
    font-family: "Source Han Sans", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
}

.app {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #E7E7E7;
}

.login-box {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

.login-box__card {
    width: 24em;
    height: 33.75em;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 0.25em;
    box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, 0.12), 0 0.0625em 0.125em rgba(0, 0, 0, 0.24);
    position: relative;
    margin-top: em(100);
}

.login-box__card::before {
    display: block;
    content: 'redis';
    box-shadow: 0 em(3) em(6) rgba(0, 0, 0, 0.16), 0 em(3) em(6) rgba(0, 0, 0, 0.23);
    background: #ed2553;
    border-radius: em(3);
    color: #ffffff;
    width: em(100);
    height: em(34);
    line-height: em(34);
    box-sizing: border-box;
    position: absolute;
    top: em(-80);
    left: calc(50% - 3.125em);
    text-align: center;
}

.login-box__card::after {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: calc(100% - 1.5em);
    top: -0.625em;
    z-index: -1;
    left: 0.75em;
    border-radius: .25em;
    box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, 0.12), 0 0.0625em 0.125em rgba(0, 0, 0, 0.24);
    background: #fafafa;
    box-sizing: border-box;
}

.login-box__header {
    border-left: em(5) solid #ed2553;
    color: #ed2553;
    font-size: em(32);
    font-weight: 600;
    margin-top: em(80, 32);
    padding-left: em(60);
}

.login-box__row {
    margin-left: em(60);
    margin-right: em(60);
    text-align: center;
}

.login-box__row:first-of-type {
    margin-top: em(20);
}

.login-box__row--submit {
    margin-top: em(60);
}

.login-box__submit-btn, .login-box__submit-btn:focus {
    background-color: #ed2553;
}

.login-box__submit-btn:hover {
    background-color: rgba(237, 38, 85, 0.8);
}